body






.sp {
	
	background-color: violet;
	width: 300px;
	height: 50px;
}

.bitcoin {
	
	background-color: violet;
	width: 300px;
	height: 50px;
}


.casablanca {
	
	background-color: violet;
	width: 300px;
	height: 50px;
}


.dow {
	
	background-color: violet;
	width: 300px;
	height: 50px;
}


.pourquoi {
	
	background-color: violet;
	width: 900px;
	height: 50px;
}


.role {
	
	background-color: violet;
	width: 700px;
	height: 50px;
}

.marché {
	
	background-color: violet;
	width: 700px;
	height: 50px;
}

.source {
	
	background-color: violet;
	width: 700px;
	height: 50px;
}


.taux {
	
	background-color: violet;
	width: 700px;
	height: 50px;
}



.Comment {
	
	background-color: violet;
	width: 700px;
	height: 50px;
}




